<div class= "main">
  <div class= "main-image">
    <div class= "main-title">
      Protect The Earth
    </div>
  </div>
  <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "Keyword", class: "input-search" %>
    <%= form.submit "Search", class: "submit-btn" %>
  <% end %>
  <div class= "tweets-contents">
    <ul class= "tweets-lists">
    <% @tweets.each do |tweet| %>
      <li class= "lists">
        <%= link_to tweet_path(tweet.id) do %>
        <div class= "tweets-image-contents">
          <%= image_tag tweet.image, class: "tweet-image"%>
            <div class= "show">
              <% if user_signed_in? && current_user.id == tweet.user_id %>
                <span class="fas fa-angle-double-down icon"></span>
                <ul class="show_list">
                  <li>
                    <%= link_to "編集", edit_tweet_path(tweet.id), method: :get %>
                  </li>
                  <li>
                    <%= link_to "削除", tweet_path(tweet.id), method: :delete %>
                  </li>
                </ul>
              <% end %>
            </div>
        </div>
        <div class= "tweets-info">
          <h3 class= "tweets-username">
            <%= tweet.user.nickname %>
          </h3>
          <div class= "tweets-title">
            <%= tweet.title %>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class= "tweet-btn">
    <a class="tweet-btn-text" href= "/tweets/new">NEW<br>POST</a>
  </div>
</div>