<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class= "header">
    <div class= "header-right">
      <% if user_signed_in? %>
        <ul class= "header-list">
          <li><%= link_to current_user.nickname,'#', class: "user-nickname" %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logout"%></li>
        </ul>
      <% else %>
        <ul class= "header-list">
          <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
          <li><%= link_to 'Sign up', new_user_registration_path, class: "sign-up" %></li>
        </ul> 
      <% end %>
    </div>

  </header>
  <%= yield %>
  
  <div class= "footer" >
    <a class="footer-btn" href= "/">Save The Earth</a>
    
  </div>
  </body>
</html>
